extends layout

block content
  h1 🎨 Colors
  p.secondary_action Los colores est&aacute;ndar son:
  hr
  p Estos colores son al base del fundation son colores descriptivos pero en ningun momento 
    span.bold estarán atados a un componente  
    | pues esto resultar&iacute;a mala pr&aacute;ctica.
    
  .column-12 
    h3 Brand Colors
  .column-6
    .sample-color__white.small.brand_primary_scale_00_background .brand_primary_scale_00
  .column-6
    .sample-color__white.small.brand_primary_scale_01_background .brand_primary_scale_01
  .column-6
    .sample-color__white.small.brand_primary_scale_03_background .brand_primary_scale_03
  .column-6
    .sample-color__white.small.brand_primary_scale_04_background .brand_primary_scale_04
  .column-6
    .sample-color__white.small.brand_primary_scale_05_background .brand_primary_scale_05
  .column-6
    .sample-color__white.small.brand_primary_scale_06_background .brand_primary_scale_06
  .column-6
    .sample-color__white.small.brand_secondary_background .brand_secondary
  .column-6
    .sample-color__white.small.brand_tertiary_background .brand_tertiary
  br
  .column-12 
    h3 Action colors
  .column-3
    .sample-color.small.primary_action_background .primary_action
  .column-3
    .sample-color.small.secondary_action_background .secondary_action
  .column-12 
    h3 Boolean colors
  .column-3
    .sample-color.small.positive_background .positive
  .column-3
    .sample-color.small.negative_background .negative
  .column-12 
    h3 Background
  .column-3
    .sample-color.small.background_blue.white_normal .background_blue
  .column-12 
    h3 W/B
  .column-3
    .sample-color.small.white_normal_background .white_normal
  .column-3
    .sample-color.small.black_normal_background.white_normal .black_normal
