extends layout

block content
  h1 📦 Principios

  h3.green_brand Accesible
  p Nuestro software debe de ser accesible a diferentes niveles o capacidades del usuario  y buscaremos la manera de que cualquier persona pueda sentir el control dentro de nuestro software.

