extends layout

block content
  h1 🅰️ Typo
  p.secondary_action Las reglas de la tipografía son las siguientes:
  hr.secondary_action
  h1 h1 
  h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
  p.code < h1>< /h1>
  h2 h2
  h2 Tempora temporibus, corrupti laborum molestiae rerum placeat pariatur
  p.code < h2>< /h2>
  h3 h3
  h3  deserunt necessitatibus saepe cum, 
  p.code < h2>< /h2>
  p  p
  p consequuntur accusamus laboriosam tempore doloremque 
  p.code < p>< /p>
  .small small
  p.small quo voluptatibus veniam! Laboriosam, laudantium.
  p.code .small
  
  
