@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800");
body, html {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #1C1D21; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px; }

p, a, .normal {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 10px; }

.small {
  font-size: 10px; }

.bold {
  font-weight: bolder; }
