.spaced {
  padding: 10px; }

.space {
  padding: 10px; }
  .space_margin {
    margin: 10px; }
  .space_top {
    padding-top: 10px; }
    .space_top_margin {
      margin-top: 10px; }
  .space_bottom {
    padding-top: 10px; }
    .space_bottom_margin {
      margin-bottom: 10px; }
  .space_left {
    padding-top: 10px; }
    .space_left_margin {
      margin-left: 10px; }
  .space_right {
    padding-top: 10px; }
    .space_right_margin {
      margin-right: 10px; }

.space_2 {
  padding: 20px; }
  .space_2_margin {
    margin: 20px; }
  .space_2_top {
    padding-top: 20px; }
    .space_2_top_margin {
      margin-top: 20px; }
  .space_2_bottom {
    padding-top: 20px; }
    .space_2_bottom_margin {
      margin-bottom: 20px; }
  .space_2_left {
    padding-top: 20px; }
    .space_2_left_margin {
      margin-left: 20px; }
  .space_2_right {
    padding-top: 20px; }
    .space_2_right_margin {
      margin-right: 20px; }

.space_3 {
  padding: 30px; }
  .space_3_margin {
    margin: 30px; }
  .space_3_top {
    padding-top: 30px; }
    .space_3_top_margin {
      margin-top: 30px; }
  .space_3_bottom {
    padding-top: 30px; }
    .space_3_bottom_margin {
      margin-bottom: 30px; }
  .space_3_left {
    padding-top: 30px; }
    .space_3_left_margin {
      margin-left: 30px; }
  .space_3_right {
    padding-top: 30px; }
    .space_3_right_margin {
      margin-right: 30px; }

.space_4 {
  padding: 40px; }
  .space_4_margin {
    margin: 40px; }
  .space_4_top {
    padding-top: 40px; }
    .space_4_top_margin {
      margin-top: 40px; }
  .space_4_bottom {
    padding-top: 40px; }
    .space_4_bottom_margin {
      margin-bottom: 40px; }
  .space_4_left {
    padding-top: 40px; }
    .space_4_left_margin {
      margin-left: 40px; }
  .space_4_right {
    padding-top: 40px; }
    .space_4_right_margin {
      margin-right: 40px; }

.space_5 {
  padding: 50px; }
  .space_5_margin {
    margin: 50px; }
  .space_5_top {
    padding-top: 50px; }
    .space_5_top_margin {
      margin-top: 50px; }
  .space_5_bottom {
    padding-top: 50px; }
    .space_5_bottom_margin {
      margin-bottom: 50px; }
  .space_5_left {
    padding-top: 50px; }
    .space_5_left_margin {
      margin-left: 50px; }
  .space_5_right {
    padding-top: 50px; }
    .space_5_right_margin {
      margin-right: 50px; }
