@import "../tokens/colors.scss";


.wc-button{
  background-color: $brand_primary_scale_00;
  color:$white_normal;
  border:none;
  transition: 0.5s;
  height: 30px;
  width: 100%;
  padding: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  &:active{
    background-color: $brand_primary_scale_04;
    box-shadow: none;
  }
  &:hover{
    background-color: $brand_primary_scale_04;
  }
}