extends ../../layout 

block content 
    h1 Ejemplo de boton primario
    br
    section.column-4 
        button.wc-btn-primary hola
    br
    br

    p.code < button class= "wc-btn-primary">< /button>
    h1 Ejemplo de boton secundario
    section.column-4 
        button.wc-btn-secondary hola
    br
    br
    p.code < button class= "wc-btn-secondary">< /button>